<a href="https://colab.research.google.com/github/shameem809/PYTHON/blob/master/DAY10(31_01_2020).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# LOOPS


*   WHILE LOOP
*   FOR LOOP

In [0]:
# print numbers from 1 to n
# input 10
# output 1 2 3 4 .....10
n = int(input("enter a number :"))
i = 1
while i <= n :
  print(i, end = "  ")
  i = i+1

enter a number :10
1  2  3  4  5  6  7  8  9  10

In [0]:
# print sum of even numbers
# input:10
#output:(2+4+6+8+10=30)
n = int(input("enter a number :"))
i = 0
sum = 0
while i<=n: 
    sum = sum+i
    i = i + 2
    print(sum)

enter a number :10
0
2
6
12
20
30

In [0]:
# print palindrome number
#input 123 
#output 321
n = int(input("enter a number :"))
rem = 0
num = 0
while n>0:
  rem = n%10
  num = num*10+rem
  n = n//10
  print(num)

enter a number :123
3
32
321

# Functional programming
- Simple
- Easy to Understand
- Better Reauseability
- Lengthy program will be divided into sub programs

In [0]:
def nameofthefunction(<parameter>):
  statements
  return

In [0]:
# print sum of even number
# input:1234
# output:(2+4)=6
def sumofevendigits(n):
    s = 0
    while n!= 0:
      r = n%10
      if r%2==0:
        s=s+r
      n = n//10
    return s
sumofevendigits(1234)

6

In [0]:
# largest of three numbers
# input:1 2 3
# output:3
def largestofthreenumbers(n):
  prev=0
  next=0
  while(n!=0):
    prev=next
    next=n%10
    if(prev>next):
      next=prev
    n=n//10
  return next
largestofthreenumbers(123)

3

# for loop
# syntax
# for in range(start,stop,step):
# statements

In [0]:
# syntax
for in range(start,stop,step):
  statements

In [0]:
# using function print the numbers between limits
# input : 11 25
# output : 11 12 13 .....24 25
def printseries(fn,ln):
  for i in range(fn,ln+1):
   print(i,end = "  ")
  return
printseries(11,25)

11  12  13  14  15  16  17  18  19  20  21  22  23  24  25

In [0]:
# input:500,520
# output:500,504,508......520
def printseries(fn,ln):
  for i in range(fn,ln+1,4):
    print(i,end = "  ")
  return
printseries(500,520)

500  504  508  512  516  520

# Collection types
- List
- Tuple
- Dictionary

# List:
- One of the data structure in python
- Data structure means to store,sort and search options
- Its one common data structure in python,the items of list separated by comma and enclosed by square brackets
- In list we can change values
- ex:
- list 1 = [1,2,3,4,5]
- list=["JNTUA","DASD","ASDS"]

In [0]:
li = [1,8,2,5,4]
print(li)
print(li[2])
print(li[-3])
print(li[2:])
print(li[2:4])
print(li[-3:-1])
print(li[::2])

[1, 8, 2, 5, 4]
2
2
[2, 5, 4]
[2, 5]
[2, 5]
[1, 2, 4]

In [0]:
# updte list
li = ["jntua",8,"atp",5,4]
print(li)
li[1]="143"
print(li)
# delete list item
del li[1]
print(li)

['jntua', 8, 'atp', 5, 4]
['jntua', '143', 'atp', 5, 4]
['jntua', 'atp', 5, 4]

In [0]:
# Basic list operations
li = [1,2,3,4,5]
print(len(li))
print(li*3)
print(4 in li)
print(9 in li)

5
[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
True
False

# list functions
- max
- min
- sum
- append
- insert
- count
- index
- sort
- pop

In [0]:
li = [1,2,3,4]
#print(max(li))
#print(min(li))
print(sum(li)/len(li))

TypeError: ignored

In [0]:
li = [6,7,6,5]
#li.append(54)
#li.insert(2,56)
#li.count(5)
#li.index(3)
#li.sort()
li.pop()
print(li)

[6, 7, 6]

In [0]:
# using function return large number from list
def largenumber(li):
  li.sort()
  return li[-1]
def genericlarge(li,n):
  li.sort()
  return li[-n]
li = [43,45,87,32,12]
print(largenumber(li))
print(genericlarge(li,3))

87
43

In [0]:
def smallnumber(li):
  li.sort()
  return li[-5]
def genericsmall(li,n):
  li.sort()
  return li[n-1]
li = [31,32,33,34,35]
print(smallnumber(li))
print(genericsmall(li,2))

31
32