<a href="https://colab.research.google.com/github/shameem809/PYTHON/blob/master/DAY9(30_01_2020).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# MARKDOWN
## MARKDOWN
### MARKDOWN
#### MARKDOWN
##### MARKDOWN

**POINTS**

*POINTS*

***POINTS***

*points*

***Adding links to markdown***

[site](https://en.wikipedia.org/wiki/Jawaharlal_Nehru_Technological_University,_Hyderabad)

### Inserting image
![text](https://upload.wikimedia.org/wikipedia/en/a/a2/Jawaharlal_Nehru_Technological_University%2C_Hyderabad_cover.jpg)

In [1]:
print("hello world!")

hello world!

In [3]:
print("hello , jntua")

hello , jntua

In [4]:
print("hello , jntua","|||" ,"chemical","|||","cse","|||","mca")

hello , jntua ||| chemical ||| cse ||| mca

#Assignment

In [11]:
n1 = 100 # single variable assignment
print(n1)
a = b = c =10 # multi variable assignment of same value
print(a,b,c)
a1,b1,c1 = 100,200,300 # multiple variable assignment with different values
print(a1,b1,c1)

100
10 10 10
100 200 300

# Data Types And Conversions
*int
*float
*string

In [12]:
a = 100
s1 = 10.2
s2 = "python"
print(type(a),type(s1),type(s2))

<class 'int'> <class 'float'> <class 'str'>

In [14]:
i = 100
print(type(i))
s1 = str(i)
print(type(s1))
f1 = float(i)
print(type(f1))

<class 'int'>
<class 'str'>
<class 'float'>

In [16]:
# length
a = 1234567
print(len(str(a)))

7

# Reading input from user---input function

In [18]:
a = input("enter ur name")
print(a)
print(type(a))

enter ur nameshaee
shaee
<class 'str'>

In [19]:
b = int(input("enter ur age : "))
print(b)
print(type(b))

enter ur age : 19
19
<class 'int'>

# Operators
- Operator is a symbol used to perform a specific kind of operations

# Arthimatic operators
- -
- +
- *
- %
- //
- /
- **

In [21]:
a = 1234
print(a+10)
print(a-10)
print(a*10)
print(a/10)
print(a%10)
print(a//10)
print(a**10)

1244
1224
12340
123.4
4
123
8187505353567209228244052427776

# Relational operator
- =
- ==
- !=
- <
- > 
- <=
- >=

In [22]:
x = 10
a1 = x > 15
print(a1)

False

In [23]:
x = 24
a1 = x > 15
print(a1)

True

# Logical operators
- and
- or
- not

In [27]:
i = 100
a1 = (i>15) or (i>800)
a2 = (i>15) and (i<800)
i = not 100
print(a1)
print(a2)
print(i)

True
True
False

# Control flow statements
- conditional statements
- looping statements

# if - else statements
## syntax
# if Boolean_condition
# else:
# statements

In [30]:
# to check given number is even or odd
n = int(input("enter a number"))
if n%2==0:
  print(n," is even number")
else:
  print(n," is odd number")

enter a number24
24  is even number

In [39]:
# to check given number is perfectly multiple of 3 and 5
n = int(input("enter a number"))
if n%3==0 and n%5==0:
  print(n,"perfect multiple")
else:
  print(n,"no perfect multiple")

enter a number21
21 no perfect multiple

In [43]:
# check given number is positive,negative,zero
n = int(input("enter a number"))
if n>0:
 print(n,"positive")
elif n<0:
  print(n,"negative")
else:
  print(n,"zero")

enter a number0
0 zero

In [44]:
# largest number of given 3 numbers
x = int(input("enter x"))
y = int(input("enter y"))
z = int(input("enter z"))
if x>y and x>z:
  print(x,"greater")
elif y>z and y>x:
  print(y,"greater")
else:
  print(z,"greater")

enter x10
enter y20
enter z30
30 greater

In [45]:
# leap year
n = int(input("enter a year"))
if year%4 == 0 :
  print(n,"leap year")
elif year%400 == 0:
  print(n,"leap year")
else year%100 != 0:
  print(n,"not a leap year")

SyntaxError: ignored